#profile-container {
    padding: 95px 15px 0px;
}

#profile-header {
    padding-bottom: 1px;
}

#profile {
    height: 410px;
    border-color: rgba(255, 255, 255, 0.486);
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.4)
    );
    border-width: thin;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto 80px;
    padding-top: 40px;
}

.fullname, .address, .initials {
    margin: 0 auto;
}

.address {
    font-size: 25px;
}

p {
    margin-left: 9px;
    margin-top: 0px;
    margin-bottom: 2px;
}

@media all and (min-width: 400px) {

    #profile-container {
        padding-top: 135px;
        width: 60%;
        margin: 0 auto;
    }

    .address {
        font-size: 50px;
    }
}