#profile-container {
    padding-top: 10vh;
    width: 90%;
    margin: 0 auto;
}

#profile {
    height: 410px;
    border-color: rgba(255, 255, 255, 0.486);
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.4)
    );
    border-width: thin;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto 80px;
    padding-top: 40px;
}

#fullname, #initials, #address {
    text-align: center;
}

#fullname {
    margin-bottom: .5vh;
}

@media all and (min-width: 600px) {

    #profile-container {
        width: 70%;
    }
}
