#about-page {
    padding-top: 13vh;
    width: 90%;
    margin: 0 auto;
}

.info {
    border-color: rgba(255, 255, 255, 0.486);
    background-color: #ffffff9a;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.4)
    );
    border-width: thin;
    text-align: center;
    border-radius: 8px;
    padding: 1rem 1rem .5vh;
    margin-bottom: 1rem;
}



.phone {
    display: block;
    padding-top: 40px;
    padding-bottom: 60px;
}


#register-box {
    margin-bottom: 1rem;
    border-color: rgba(255, 255, 255, 0.486);
    background-color: #ffffff9a;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.4)
    );
    border-width: thin;
    text-align: center;
    border-radius: 8px;
    padding-bottom: 1rem;
}

#register-box-h3 {
    padding: 1rem;
}

#lp-btn {
    width: 36%;
    height: 42px;
    color: #fff !important;
    text-decoration: none;
    background: #144274c7;
    padding: 8px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease 0s;
    margin: 2px;
    font-size: 22px
}

#lp-btn:hover {
    background: #d42853;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
    font-size: 28px
}

img {
    display: block;
    max-width: 450px;
    max-height: 894px;
    width: auto;
    height: auto;
    width: 70%;
    margin: 0 auto 4px;
}

@media (min-width: 600px) {

    #about-page {
        width: 70%;
        padding-top: 16vh;
    }

    .info {
        padding-top: 2rem;
        margin-bottom: 3vh;
    }

    .phone {
        display: flex;
        justify-content: space-evenly;
        width: 60%;
        margin: 0 auto 70px;
    }

    img {
        margin: 0 auto 0;
        display: block;
        max-width: 400px;
        max-height: 795px;
        width: auto;
        height: auto;
    }

    #register-box{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3vh;
        padding-top: 1rem;
        padding-bottom: 3rem;
    }
    #lp-btn {
        width: 30%;
        height: 50px;
        font-size: 28px

    }

}