header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #474747;
}

.links {
    float: right;
    margin-bottom: 4px;
}

.link::after {
    content: "  ";
}

#neighbr {
    margin-left: 26px;
    margin-top: 4px;
    margin-bottom: 2px;
    color: #fbd4d4;
}

.link:before, .link:after{
    opacity: 0;
    transition: all 0.3s ease;
    color: #e4e3e3	
}

.link:before{
    content: '[';
    color: #e4e3e3
}
.link:after{
    content: ']';
    color: #e4e3e3
}

.link:hover:before{
    margin-right: 3px;
    content: '[';

    opacity: 1;
    color: #e4e3e3
}
.link:hover:after{
    margin-left: 3px;
    content: ']';

    opacity: 1;
    color: #e4e3e3
}

@media all and (min-width: 600px) {
    #desktop-header {
        width: 55%;
        margin: 0 auto;
    }
}