#register-container {
    padding: 95px 10px 0px;
}

#register-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 85%;
    left: 0;
    right: 0;
}

input {
    width: 90%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.787);
    border-width: thin;
}

#label-id {
    text-align: left;
}

#login-section {
    text-align: center;
}

#register-btn {
    width: 30%;
    color: #fff !important;
    text-decoration: none;
    background: #1b5b9e;
    padding: 6px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease 0s;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

#register-btn:hover {
    background: #8f352e;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
}

#login-section {
    margin-bottom: 80px;
}

@media all and (min-width: 600px) {

    #register-section {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 40%;
        left: 0;
        right: 0;
    }
    #register-container {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
    }
    #register-btn {
        font-size: 30px;
        width: 80%;
        margin: 0 auto;
    }
    #register-header {
        width: 80%;
        margin: 0 auto;
    }
    
    input {
        width: 90%;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.787);
        border-width: thin;
    }

}