#register-container {
    padding: 95px 10px 0px;
}

#register-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 85%;
    left: 0;
    right: 0;
}

input {
    width: 90%;
    margin-bottom: 2px;
    border-radius: 5px;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.6)
    );
    border: none;
    height: 25px;
}

h1 {
    color: #123C69
}

#label-id {
    text-align: left;
}

#login-section {
    text-align: center;
}

#register-btn {
    width: 30%;
    color: #fff !important;
    text-decoration: none;
    background: #1b5b9e;
    padding: 6px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease 0s;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

#register-btn:hover {
    background: #d42853;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
}

#login-section {
    margin-bottom: 80px;
}

#confirm-pw {
    -webkit-text-security: disc;
}

@media all and (min-width: 600px) {

    #register-section {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 40%;
        left: 0;
        right: 0;
    }
    #register-container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
        margin-bottom: 150px;
    }
    #register-btn {
        font-size: 30px;
        width: 80%;
        margin: 2 auto 0;
    }
    #register-header {
        width: 80%;
        margin: 0 auto;
    }
    
    input {
        width: 90%;
        border-radius: 5px;
        background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.6)
        );
        border: none;
        height: 40px;
    }

}