footer {
  padding: .1vh 0;
  background-color: #353535;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  margin: 0;
  color: #e4e3e3;
  line-height: 1;
}

#copyright {
  font-size: 10px;
  margin: .5vh;
}

#neighbr-footer {
  font-size: 12px;
  font-weight: bold;
  padding-top: 3px;
}

@media all and (min-width: 600px) {

  #neighbr-footer {
    font-size: 30px;
    font-weight: bold;
  }
  #copyright {
    font-size: 22px;
  }
  footer {
    line-height: 1;
  }
  #neighbr-footer {
    padding-top: 3px;
  }
}