#login-container {
    padding: 165px 15px 0px;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#label-id {
    text-align: left;
}

h2 {
    color: #8f352e;
}

#login-btn {
    width: 30%;
    color: #fff !important;
    text-decoration: none;
    background: #1b5b9e;
    padding: 6px;
    border-radius: 5px;
    border: none;
    transition: all 0.3s ease 0s;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

#login-btn:hover {
    background: #8f352e;
    letter-spacing: 1px;
    transition: all 0.3s ease 0s;
}


@media all and (min-width: 500px) {
    
#login-btn {
    font-size: 30px;
    width: 50%;
}

#login-container {
    width: 40%;
    margin: 0 auto;
}

#email, #password {
    height: 40px;
}



}
