
* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif;
  color: #123C69;
  background: linear-gradient(90deg, rgba(130,240,212,1) 0%, rgba(130,223,240,1) 18%);
  line-height: 1.5;
}

@media all and (min-width: 600px) {


  body {
    font-size: 35px;
  }
  input[type="text"] {
    font-size: 28px;
  }

}