
* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica, sans-serif;
  color: #123C69;
  background-color: #EAE7DC;
  line-height: 1.5;
}

@media all and (min-width: 600px) {


  body {
    font-size: 35px;
  }
  input[type="text"] {
    font-size: 28px;
  }

}