.favor-item {
    padding-top: 1vh;
    padding-bottom: 2vh;
    margin-bottom: 1vh;
    display: flex;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.486);
    background-color: #ffffff9a;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.87),
        rgba(255, 255, 255, 0.548)
    );
    border-width: thin;
    border-radius: 10px;
    
}

.favor-item-initials {
    font-size: 35px;
    padding: 4vh 2vh 0 1.5vh;
    position: static;
}


#favor-title {
    margin-bottom: 2px;
}

.payment-info {
    font-size: 12px;
    margin-bottom: 2px;
}

.time-posted {
    color: rgba(0, 5, 54, 0.555);
    font-style: italic;
    font-size: 8px;
}

@media all and (min-width: 600px) {
    .favor-item {
        margin: 0 auto 8px;
        width: 50%;
        padding-right: .3vh;
    }
    .favor-item-initials {
        font-size: 70px;
        margin-right: 2vh;
        margin-left: 3vh;
    }
    .payment-info {
        font-size: 16px;
        margin-bottom: 2px;
    }
    
    .time-posted {
        color: rgba(0, 5, 54, 0.555);
        font-style: italic;
        font-size: 14px;
    }
}

